.winner-card {
    width: 30px;
  }
  
  .winner-avatar {
    /* background-image: url('./../../../../assets/images/win-gift.png'); */
  }

  [mat-card-image]{
    height: 35px;
    width:30px
  }

  .marquee-container {
    width: 100%;
    overflow: hidden;
    background: #f1f1f1;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .marquee {
    display: flex;
    animation: marquee 10s linear infinite;
  }
  
  .marquee span {
    margin-right: 50px;
    font-size: 20px;
  }
  
  .selected {
    color: red;
    font-weight: bold;
  }
  
  @keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }

  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  