<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 mt-5">
        <div class="card">

<div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
    <table class="table table-bordered" >
      <thead bg-color="red"  class="thead-dark sticky-header">
       
        <tr>
          <th scope="col">ID</th>
          <!-- <th scope="col">ROOM ID</th> -->
          <th scope="col">USERID</th>
          <th scope="col">Username</th>
          <th scope="col">Winning Amount</th>
        </tr>
      </thead>
      <tbody>
   
        <tr *ngFor="let winitem of winnerlistfinalresult;let i=index">
          <td>{{i+1}}</td>
          <!-- <td>{{ winitem.room_id  }}</td> -->
          <td>{{ winitem.user_id }}</td>
          <td>{{ winitem.username }}</td>
          <td>{{ winitem.tot_amount_send	 }}</td>
          <!-- <td> {{((winningamount * percentagearray[i].winAmountPer) / 100)-(((winningamount *
            percentagearray[i].winAmountPer) / 100)*percentagearray[i].deductAmountPer/100) }}</td> -->
        </tr>

      </tbody>

    </table>
  </div>
</div>
</div>
</div>
</div>