.forgot-password-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.forgot-password-container h2 {
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
}
.forgot-password-container p {
    text-align: center;
    margin-bottom: 20px;
    color: #777;
}
.forgot-password-container .btn-primary {
    width: 100%;
}

.forgot-card {
    background: #f9f9f9;
    padding: 30px 50px;
    text-align: center;
    width: 100%;
    min-height: 300px;
    padding-top: 12%;
    border: solid 2px #ddd;
    border-radius: 20px;
    box-shadow: 0 5px 10px #00000020;
}