<div class="top-header" *ngIf="loginheader===false">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-lg-9">
        <div class="address-bar">
          <ul class="list-inline">
            <li>
              <a>
                <i class="fa fa-envelope mr-1"></i> support&#64;winorhelp.com
              </a>
            </li>
            <li>
              <a href="tel:+13255550156">
                <i class="fas fa-phone-volume mr-1"></i> +1-325-555-0156
              </a>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="col-lg-2 col-md-2">
        <div class="social-icons">
          <ul class="list-inline">
            <li>
              <a href="#" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-1 col-md-1">
        <a class="nav-link" routerLink="/auth/login">Register/Login</a>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light"> <!--[ngClass]="{'fixed-top': isFixed}"-->
  <div class="container">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/listofwin">List of Winners</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Our Games</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/login">Register/Login</a>
        </li> -->
        <li class="nav-item">
          <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
            <button type="button" class="btn me-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">
              My Wallet
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownManual">
              <button ngbDropdownItem routerLink="/mytransaction">My Transaction</button>
              <button ngbDropdownItem routerLink="/creditdebit"> Wallet Credit </button>
              <button ngbDropdownItem routerLink="/withdraw"> WithDraw Request </button>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Referral</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact Us</a>
        </li>
        <li class="nav-item" *ngIf="loginheader">
          <a class="nav-link" routerLink="/auth/login">Logout</a>
        </li>

      </ul>

    </div>
  </div>
</nav>


<!-- <nav class="navbar navbar-expand-lg navbar-light" [ngClass]="{'fixed-top': isFixed}">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor03" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">List of Winners</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Our Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Register/Login</a>
        </li>
        <li class="nav-item">
            <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
                <button
                    type="button"
                    class="btn btn-outline-primary me-2"
                    id="dropdownManual"
                    ngbDropdownAnchor
                    (focus)="myDrop.open()"
                >
                 My Wallet
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                    <button ngbDropdownItem>My Transaction</button>
                    <button ngbDropdownItem>Credit/Debit request</button>
                </div>
            </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav> -->

<!-- <p>Is Fixed: {{ isFixed }}</p> -->





<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <div class="container-fluid ">
        <a class="navbar-brand" href="#">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex" id="collapsibleNavbar">

            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link handpick"  routerLink="/">Home</a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link handpick" routerLink="/our-approch">List of Winners</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link handpick" routerLink="/">Our Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link handpick" routerLink="/login">Register/Login</a>
                </li>
                <li class="nav-item">
                <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
                    <button
                        type="button"
                        class="btn btn-outline-primary me-2"
                        id="dropdownManual"
                        ngbDropdownAnchor
                        (focus)="myDrop.open()"
                    >
                     My Wallet
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownManual">
                        <button ngbDropdownItem>My Transaction</button>
                        <button ngbDropdownItem>Credit/Debit request</button>
                    </div>
                </div>
            </li>
                <li class="nav-item">
                    <a class="nav-link handpick" routerLink="/">Referral</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link handpick" routerLink="/contact">Contact Us</a>
                </li>

            </ul>
        </div>

    </div>
</nav> -->