<div class="top-header" *ngIf="loginheader===false">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-lg-9">
        <div class="address-bar">
          <ul class="list-inline">
            <li>
              <a>
                <i class="fa fa-envelope mr-1"></i> support&#64;winorhelp.com
              </a>
            </li>
            <li>
              <a href="tel:+13255550156">
                <i class="fas fa-phone-volume mr-1"></i> +1-325-555-0156
              </a>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="col-lg-2 col-md-2">
        <div class="social-icons">
          <ul class="list-inline">
            <li>
              <a href="#" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-1 col-md-1">
        <a class="nav-link" routerLink="/auth/login">Register/Login</a>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg bg-light shadow sticky-top"> <!--[ngClass]="{'fixed-top': isFixed}"-->
  <div class="container">
    <a class="navbar-brand py-0" href="#"><img src="./../../../assets/images/logo.jpeg" class="img-fluid" style="height: 70px; width: auto;" alt=""></a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="visiblelable">
          <a class="nav-link" routerLink="/listofwin">List of Winners</a>
        </li>
        <li class="nav-item">
          <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown" *ngIf="visiblelable">
            <button type="button" class="btn me-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">
              My Wallet
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownManual">
              <button ngbDropdownItem routerLink="/mytransaction">My Transaction</button>
              <button ngbDropdownItem routerLink="/creditdebit"> Wallet Credit </button>
              <button ngbDropdownItem routerLink="/withdraw"> WithDraw Request </button>
            </div>
          </div>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Referral</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact Us</a>
        </li>
        <li class="nav-item" *ngIf="loginheader">
          <!-- <a class="nav-link" routerLink="/auth/login">Logout</a> -->
          <!-- <a class="nav-link" routerLink="/auth/login">Logout</a> -->
         
        </li>

      </ul>
      <button type="button" class="btn btn-outline-primary me-3" data-bs-toggle="modal" data-bs-target="#exampleModal"  *ngIf="visiblelable">
       My Profile
      </button>
          <button type="button" routerLink="/auth/login" class="btn btn-warning" *ngIf="visiblelable">
       Logout
      </button>
      <div class="col-lg-1 col-md-1">
        <a class="nav-link" routerLink="/auth/login" *ngIf="!visiblelable">Register/Login</a>
      </div>
    </div>
  </div>
</nav>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-5">

        <table class="table table-borderless">
           <tbody>
            <tr>
              <td>User Name</td>
              <td>: <b>{{userDetails.username}} </b></td>
            </tr>
            <tr>
              <td>Wallet Amount</td>
              <td>: ₹ <b>{{userDetails.wallet_amount}}</b></td>
            </tr>
            <tr>
              <td>Email</td>
              <td>: <b>{{userDetails.email}}</b></td>
            </tr>
          </tbody>
        </table>
     
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>