body {
    padding-top: 70px; /* Adjust based on your navbar height */
  }
  .top-header {
    background-color: #eeeeee;
    color: #848484;
    padding: 5px 0 5px;
}
.navbar  {
    width: 100%;
    transition: top 0.3s;
    background-color: #06067b;
    color: white;
}
.navbar-toggler {
    background-color: white!important;
}
a.nav-link {
    color: #fff;
    font-weight: 400;
    margin-right: 20px;
}
a.nav-link:hover { 
    color: #adadff;
}
.address-bar {
    background-color: #eee;
    /* margin-left: 104px; */
}
.list-inline {
    padding-left: 0;
    list-style: none;
    margin: 0;
}
.address-bar ul li {
    margin-right: 10px;
}
.list-inline li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.address-bar ul li a {
    color: #737373;
    font-size: 13px;
}
.handpick{
    cursor: pointer;
}
.navbar-light{
    background-color: #e9dbc8;
}
.navbar-light.fixed-top{
    background-color: #fe5619;
}
.menu-shrink {
    box-shadow: 0 0 10px #ebebeb;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-collapse{
    flex-grow: inherit;
}
.navbar {
    width: 100%;
    transition: top 0.3s;
  }
  @media only screen and (max-width: 767px) {
    .navbar {
        padding: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .top-header {
        display: none;
    }
}