<section class="services" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h2>Our Game</h2>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet.</p> -->
            <!-- <span class="section-title-bg">Services</span>     -->
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4" *ngFor="let item of dataSource">
                <div class="single-ticket" [ngStyle]="{'background': item.css}">
                  
                    <span class="ticket-rate">Room ID:&nbsp;{{item.roomId}}  </span><br>
                    <span class="win-price">Win price:&nbsp;₹{{item.winningAmount || '0.00'}}</span>
                    <span class="win-money">Entry Fee:&nbsp;₹{{item.entryFee}}</span>
                    <img src="../../assets/images/win-gift.png" alt="" class="img-fluid w-25">
                   
                    <div class="mt-3">
                        <ul class="winning-number">
                            <li>
                                <a href="#">
                                    <div class="nums">{{item.timerdata.days}}</div>
                                    <div class="strings">Days

                                    </div>       
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="nums">{{item.timerdata.hours}}</div>
                                    <div class="strings">Hours</div>       
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="nums">0</div>
                                    <div class="strings">{{item.timerdata.minutes}}</div>       
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="nums">{{item.timerdata.seconds}}</div>
                                    <div class="strings">Seconds</div>       
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="text-center mt-4">
                        <a class="viewDetailsTxt" href="javasceipt:void(0)" (click)="viewDetails(item)">View Details </a>
                    </div>
                        
                    <div class="text-center mt-3">
                        <button class="custom-button" (click)="roomalocate(item.roomId,item.entryFee)">
                            Click Here
                        </button>
                    </div>
                </div>
                
            </div>
  
        </div>
    </div>
</section>