.services {
    background-color: #fff;
    margin-top: 50px;
}
.ptb-100 {
    padding: 100px 0;
}
.section-title {
    position: relative;
    z-index: 1;
}
.section-title h2 {
    margin: 0 0 25px;
    text-transform: capitalize;
    font-weight: 700;
}
.section-title-bg {
    color: #00438b;
    font-size: 100px;
    line-height: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
    font-family: 'Monoton', cursive;
    text-transform: uppercase;
}

.single-ticket {
    position: relative;
    display: block;
    overflow: hidden;
    text-align: center;
    border-radius: 16px;
    transition: all 0.5s;
    border-bottom: 2px solid transparent;
    padding: 40px 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
    margin: 15px 10px;
    /* background: #198754; */
    color: white;
}

.ticket-rate {
    position: absolute;
    left: 0px;
    top: 15px;
    background: linear-gradient(45deg, #3f51b5, #0d6efd);
    color: #fff;
    font-weight: 600;
    font-size: 21px;
    padding: 5px 15px;
    line-height: 26px;
    border-radius: 0px 3px 3px 0px;
}
.viewDetailsTxt {
    font-size: 16px;
    color: white;
    text-decoration: underline!important;
}
.viewDetailsTxt:hover {
    text-decoration: none!important;
}
.ticket-image {
    display: block;
}
.win-price {
    display: block;
    font-size: 22px;
    margin: 15px 0 15px 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.win-money {
    display: block;
    font-size: 22px;
    margin: 15px 0 2% 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.winning-number {
    display: block;
    margin-bottom: 20px;
    padding: 0;
}
.winning-number li {
    display: inline-block;
}

* a{
    text-decoration: none;
}
.custom-button {
    width: 100%;
    max-width: 230px;
    text-align: center;
}
.custom-button {
    color: #030303;
    border-radius: 30px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 8px 30px;
    font-size: 20px;
    background: #ffffff;
    box-shadow: -1.04px 4.891px 20px 0px rgb(27 27 27 / 50%);
    font-family: "Roboto", sans-serif;
    border: solid 3px #ffffff;
    outline: solid 2px #d1cfcf;
    transition: .5s;
}
.custom-button:hover {
    background-color: #333;
    color: white;
    transition: .5s;
}
@media only screen and (max-width: 767px) {
    .section-title-bg {
        display: none;
    }
    .single-ticket { 
        margin: 0;
        margin-bottom: 1rem;
    }
    .carousel-caption {
        padding-bottom: 0;
        bottom: 15%!important;
    }
    .carousel-caption h3 {
        font-size: 13px;
        margin-bottom: 0rem;
        bottom: 10px;
    }
    .xs-mt-3 {
        margin-top: 3rem;
    }
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 30%;
}
.nums {
    font-size: 20px;
    font-weight: 600;
    /* line-height: .5; */
    /* margin-top: 7px; */
    background-color: white;
    padding: 7px 2px;
}
.strings {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}
.winning-number li a {
    display: block;
    color: #0f0f0f;
    /* background: #fff; */
    border: 1px solid #ffffff;
    border-radius: 5px;
    min-width: 55px;
    min-height: 50px;
    line-height: 20px;
    margin: 0px 3px;
    /* padding: 5px 2px; */
    box-sizing: border-box;
    /* outline: 1px solid #808080; */
    box-shadow: 2px 2px 4px 4px #00000020;
}
