.services {
    background-color: #fff;
    margin-top: 50px;
}
.ptb-100 {
    padding: 100px 0;
}
.section-title {
    position: relative;
    z-index: 1;
}
.section-title h2 {
    margin: 0 0 25px;
    text-transform: capitalize;
    font-weight: 700;
}
.section-title-bg {
    color: #00438b;
    font-size: 100px;
    line-height: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
    font-family: 'Monoton', cursive;
    text-transform: uppercase;
}

.single-ticket {
   
    position: relative;
    display: block;
    overflow: hidden;
   
    text-align: center;
    background: #fff;
    border-radius: 3px;
    transition: all 0.5s;
    border-bottom: 2px solid transparent;
    padding: 30px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
    margin: 15px;
}
.ticket-rate {
    position: absolute;
    left: 0px;
    top: 10px;
    background: #e62e7c;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    padding: 2px 15px;
    line-height: 26px;
    border-radius: 0px 3px 3px 0px;
}
.ticket-image {
    display: block;
}
.win-price {
    display: block;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 600;
}
.win-money {
    display: block;
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 700;
}
.winning-number {
    display: block;
    margin-bottom: 20px;
    padding: 0;
}
.winning-number li {
    display: inline-block;
}
.winning-number li a {
    display: block;
    color: #fff;
    background: #00438b;
    border: 1px solid #00438b;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 700;
    width: 34px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 0px 1px;
}
* a{
    text-decoration: none;
}
.custom-button {
    width: 100%;
    max-width: 230px;
    text-align: center;
}
.custom-button {
    color: #ffffff;
    border-radius: 30px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px 30px 10px;
    font-size: 18px;
    background: -webkit-linear-gradient(90deg, rgb(61, 169, 245) 0%, rgb(104, 61, 245) 100%);
    box-shadow: -1.04px 4.891px 20px 0px rgba(69, 49, 183, 0.5);
    font-family: "Roboto", sans-serif;
    transition: all 0.4s;
}
@media only screen and (max-width: 767px) {
    .section-title-bg {
        display: none;
    }
}
