mat-toolbar {
    .left-header {
        width: auto;
        transition: width 0.35s;
        .img-logo {
            width: 70px;
            height: auto;
        }
    }
    &.main-header{
        position: fixed;
        width: 100%;
        left: 0;
        right: 0;
        z-index: 99;
        padding: 0;
        background-color: transparent !important;
        .header-bar{
            margin-left: 15rem;
            transition-property: margin-left;
            transition-duration: 0.2s;
        }
    }
}

mat-sidenav-container {
    mat-sidenav{
        width: 15rem;
        top: 0px !important;
        z-index: 100;
        mat-toolbar{
            background-color: var(--lt-primary);
            box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
            justify-content: center;
            img{
                width: 68%;
                height: auto;
            }
        }
    }
    mat-sidenav-content {
        background-color: #F2F8FF;
        min-height: calc(100vh - 65px);
        padding: 0 0.6rem;
        #content-toolbar{
            box-shadow: 0 4px 2px -2px #ddedff;
        }
    }
}

.mat-drawer {
    background-color: var(--lt-primary);
    color: var(--lt-light);
}

[fxflex] {
    flex: 1 1 0%;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex: 1;
    min-height: 78vh;
    .content {
        width: 100% !important;
        background-color: var(--white);
        padding: 25px;
        max-height: 85vh;
        min-height: 630px;
        overflow-y: auto;
    }
}

@media (min-width: 1200px) {
    .container.main-container {
        max-width: 1200px;
        padding: 0;
    }
}