<div class="sidemenu-container lightTheme">
    <mat-nav-list>
        <div style="padding-top: 15px;"></div>
        <ng-template ngFor let-v [ngForOf]="sideMenuListObj" let-i="index">
            <a class=" pt-5" *ngIf="v.visibility" mat-list-item (click)="onChange(v, i)" [routerLink]="[v?.link]"
                [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{ exact: true }">
                <div link-icon-warpper>
                    <span link-icon></span>
                    <!-- <span *ngIf="v?.iconType=='png'" [ngClass]="v?.icon" link-icon>
                        <img id="menu-icon-avatar" [src]="'assets/Imgs/Icons/'+v?.icon+'.png'" />
                    </span>
                    <span *ngIf="v?.iconType=='svg'" link-icon>
                        <svg-icon name="{{v?.icon}}" [height]="20" [width]="20"></svg-icon>
                    </span> -->
                    <span class="menuLinks" link-name>{{v?.displayName}}</span>
                </div>
            </a>
            <ng-container *ngIf="v?.subMenu && v?.subMenu.length">
                <div class="submenu" [ngClass]="{'expanded' : showSubmenu===i}">
                    <a [routerLink]="[sub?.link]" [routerLinkActive]="['sub-active-link']" *ngFor="let sub of v.subMenu"
                        mat-list-item class="sub-menu-link">&nbsp;&nbsp;<span link-name>{{sub.displayName}}</span></a>
                </div>
            </ng-container>
        </ng-template>

        <!-- <a mat-list-item [routerLink]="['/audit-form']" [routerLinkActive]="['active-link']">
            <div link-icon-warpper>
                <span link-icon>
                    <mat-icon>group</mat-icon>
                </span>
                <span link-name>Audit Log</span>
            </div>
        </a>
        <a mat-list-item [routerLink]="['/vendor-list']" [routerLinkActive]="['active-link']">
            <div link-icon-warpper>
                <span link-icon>
                    <mat-icon>group</mat-icon>
                </span>
                <span link-name>Verify People</span>
            </div>
        </a> -->

    </mat-nav-list>
    <footer *ngIf="!isInspectElementOpened" side-menu-footer>
        
    </footer>
</div>