<main>
    <h4 class="mt-4">Rooms Details</h4>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">

            

              <div class="card">
                <div class="card-header">
                  <h4> Room ID:  <span class="text-primary">{{ room.roomId }}</span></h4>
                  <!-- <p class="mb-0">
                    <strong>Description:</strong>
                  </p> -->
                </div>
                <div class="card-body">
                  <ul class="list-unstyled">
                    <li><span style="width:200px; display: inline-flex;">Winning Amount </span>: <b>{{room.winningAmount}}</b> </li>
                    <li><span style="width:200px; display: inline-flex;">Entry Fee </span>: <b>{{room.entryFee}}</b></li>
                    <li><span style="width:200px; display: inline-flex;">Start Date </span>: <b>{{room.startDate | date:'dd-MMM, YYYY'}}</b></li>
                    <li><span style="width:200px; display: inline-flex;">End Date </span>: <b>{{room.endDate | date:'dd-MMM, YYYY'}}</b></li>
                    <li><span style="width:200px; display: inline-flex;">Start Time </span>: <b>{{room.startTime}}</b> </li>
                    <li><span style="width:200px; display: inline-flex;">End Time </span>: <b>{{room.endTime}} </b></li>
                  </ul>
                </div>
              </div>
             
              <table class="table table-hover mt-4">
                <thead>
                  <tr>
                    <th style="width: 100px;">User Id</th>
                    <th>Username</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let v of memberList">
                    <td>{{ v.user_id  }}</td>
                    <td>{{ v.username  }}</td>
                    <td>{{ v.email  }}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</main>