<main>
    <div class="row">
        <div class="col-6">
            <ol class="breadcrumb">
                <li class="active p-0">Rooms Details</li>
            </ol>
        </div>
        <div class="col-6 text-end">
           
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">

            <mat-card>
                <mat-card-header>
                  <mat-card-title>Room Details</mat-card-title>
                  <mat-card-subtitle>{{ room.name }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p><strong>Room ID:</strong> {{ room.id }}</p>
                  <p><strong>Description:</strong> {{ room.description }}</p>
                  <p><strong>Created By:</strong> {{ room.createdBy }}</p>
                </mat-card-content>
              </mat-card>


              <mat-card class="winner-card mt-4 w-100">
                <!-- <mat-card-header>
                  <div mat-card-avatar class="winner-avatar"></div>
                  <mat-card-title>{{ winner.name }}</mat-card-title>
                  <mat-card-subtitle>{{ winner.position }}</mat-card-subtitle>
                </mat-card-header> -->
                <mat-card-content>
                  <div class="row">
                    <div class="col-2">
                      <img mat-card-image [src]="winner.image" alt="{{ winner.name }}">
                    </div>
                    <div class="col-6 text-start">
                      <h4>{{ winner.name }}</h4>
                    </div>
                    <div class="col-4 text-end">{{ winner.prize }}</div>
                  </div>
                </mat-card-content>
              </mat-card>
              
              
              <mat-card class="mt-4">
                <mat-card-header>
                  <mat-card-title>Room Members</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <ul>
                    <li *ngFor="let v of memberList">{{ v }}</li>
                  </ul>
                </mat-card-content>
              </mat-card>
        </div>
    </div>
</main>