<div class="container mt-5">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h3>Send payment to below UPI QR</h3>
            <img src="../../../assets/images/scan.jpg" alt="">
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <ul class="m-0 p-0">
                <li>
                    Please send the amount to above UPI/Scanner
                </li>
                <li>
                    After payment, click below and send the transaction sceenshot on WhatsApp along with your toolzbuy account
email address, user name & plan name and make sure the payment screenshot covers the UTR number and transactions time.
                </li>
                <li>
                    After few minutes, Team will check your transaction and add subscription to your account
                </li>

            </ul>
            <div>
                <span class="bg-danger text-white">
                    please confirm your payment screenshot with the whatsup support team listed below; it will take them 10 15 minutes to verify your payment and add plan.
                </span>
            </div>
            <div>
                <hr>
            </div>
            <div>
                Click Here to send payment Screenshot on Whatsup
            </div>
            <div class="d-flex justify-content-center align-items-center mt-3 mb-3">
                <img src="../../../assets/images/wtsup-icon.png" class="w-25" alt="">
            </div>
            <!-- <div>
                <p> <span>Note:</span> <span class="text-danger">The payment verification team is only available from 7:00 AM to 11:45 PM IST, so if you pay between these hours, you will have access within 20 to 30 minutes, otherwise you will have to wait until the team returns to online.</span></p>
            </div> -->
            <a class="nav-link" routerLink="/admin">Contact Us</a>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
