<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body text-center">
                    <h4 class="fw-medium text-primary">Send payment to below UPI QR</h4>
                    <img src="../../../assets/images/scan.jpg" style="width: 250px;" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <ul class="mt-3 p-0">
                <li>
                    Please send the amount to above UPI/Scanner
                </li>
                <li>
                    After payment, click below and send the transaction sceenshot on WhatsApp along with your Fund for need ID account & name and make sure the payment screenshot covers the UTR number and
                    transactions time.
                </li>
               
            </ul>
            <div>
                <span class="bg-danger text-white">
                    please confirm your payment screenshot with the whatsup support team listed below; it will take them 10 to 15 minutes to verify your payment and to add into your wallet.
                </span>
            </div>
            <div>
                <hr>
            </div>
            <div class="text-center">
                <div>
                    Click Here to send payment Screenshot on Whatsup
                </div>
                <div class="d-flex justify-content-center align-items-center mt-3 mb-3">
                   <a href="https://api.whatsapp.com/send/?phone=919878381160&text&type=phone_number&app_absent=0"> <img src="../../../assets/images/wtsup-icon.png"  style="width: 150px;" alt=""></a>
                </div>
                <!-- <div>
                <p> <span>Note:</span> <span class="text-danger">The payment verification team is only available from 7:00 AM to 11:45 PM IST, so if you pay between these hours, you will have access within 20 to 30 minutes, otherwise you will have to wait until the team returns to online.</span></p>
            </div> -->
                <a class="nav-link" routerLink="/admin">Contact Us</a>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>