<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-5">
      <div class="card">
        <div class="card-header border">
          <h3 class="mb-1 text-warning">{{ roomInfo.roomId}}</h3>
          <hr>
          <table>
            <tr><td><b>Entry Amount:</b> </td> <td> <span class="fs-5 text-primary"> {{ roomInfo.entryFee}}</span></td></tr>
            <tr><td><b>Total Fund Amount: </b></td> <td> <span class="fs-5 text-primary"> {{ roomInfo.entryFee *  room.users.length}}</span></td></tr>
            <tr><td><b>No of Winners:</b> </td> <td> <span class="fs-5 text-primary"> {{percentagearray?.length}}</span></td></tr>
          </table>
        </div>
        <div class="card-header">
          <h4 class="mb-0 text-primary"><b>Fund Allocation Date:</b>{{ roomInfo.latter_datetime }}</h4>
       
        </div>
        <div class="card-body" >
          <div class="room-container">
            <div class="room">

              <div *ngIf="gameview">
              <div *ngIf="room.timeRemaining">
                <p>Countdown Timer: {{ room.timeRemaining.days }}d {{ room.timeRemaining.hours }}h {{
                  room.timeRemaining.minutes
                  }}m {{ room.timeRemaining.seconds }}s</p>
              </div>

              @if(!isRoundComplited){
              <div>
                <h4>Users:</h4>
                <div class="user-list bg-black text-white" >
                  <ul >
                    <li *ngFor="let user of room.users; let i = index"
                      [class.previous]="i === getPreviousUserIndex(currentScrollingUserIndex)"
                      [class.current]="i === currentScrollingUserIndex"
                      [class.next]="i === getNextUserIndex(currentScrollingUserIndex)">
                      {{ user.user_id }}
                    </li>
                  </ul>
                </div>
              </div>
              }
            </div>


              <div *ngIf="!gameviewWinners FundAllocation table-responsive">
                <table class="table table-bordered table-striped table-hover" >
                  <thead class="thead-dark sticky-header">
                   
                    <tr style="background-color: #2c2c9c;color:white">
                      <!-- <th scope="col">ID</th> -->
                      <th scope="col">Username</th>
                      <th scope="col">User ID</th>
                      <th scope="col">Winning Amount</th> 
                    </tr>
                  </thead>
                  <tbody>
          
                    <tr *ngFor="let item of room.winners;let i=index">
                      <!-- <td>{{i+1}}</td> -->
                      <td style="font-weight: 500;">{{ item.username }}</td>
                      <td style="font-weight: 500;">{{ item.user_id }}</td>
                      <td style="font-weight: 500;"> {{((winningamount * percentagearray[i].winAmountPer) / 100)-(((winningamount *
                        percentagearray[i].winAmountPer) / 100)*percentagearray[i].deductAmountPer/100) }}</td>
                    </tr>
                    <tr *ngFor="let item of room.users;let i=index">
                      <!-- <td>{{i+1}}</td> -->
                      <!-- {{item.user_id }} -->
                      <td>{{ item.username }}</td>
                      <td>{{ item.user_id }}</td>
                      <td> </td>
                    </tr>
          
                  </tbody>
          
                </table>
              </div>

            </div>
          </div>
        </div>
        <!-- <div>
          <ol>
            @for(user of room.users; track user){
              <li>{{user.username}} </li>
                   
              }
          </ol>
        </div> -->

        <!-- {{gameviewWinners}} -->
        
        <div class="card-body" *ngIf="gameviewWinners">
          
          <div>
            <div><b>Winners Data</b></div>
            <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
              <table class="table table-bordered" >
                <thead bg-color="red"  class="thead-dark sticky-header">
                 
                  <tr>
                    <th scope="col">ID</th>
                    <!-- <th scope="col">ROOM ID</th> -->
                    <th scope="col">USERID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Winning Amount</th>
                  </tr>
                </thead>
                <tbody>
             
                  <tr *ngFor="let winitem of winnerlistfinalresult;let i=index">
                    <td>{{i+1}}</td>
                    <!-- <td>{{ winitem.room_id  }}</td> -->
                    <td>{{ winitem.user_id }}</td>
                    <td>{{ winitem.username }}</td>
                    <td>{{ winitem.tot_amount_send	 }}</td>
                    <!-- <td> {{((winningamount * percentagearray[i].winAmountPer) / 100)-(((winningamount *
                      percentagearray[i].winAmountPer) / 100)*percentagearray[i].deductAmountPer/100) }}</td> -->
                  </tr>

                </tbody>
        
              </table>
            </div>

          </div>
          </div>
      </div>
    </div>
  </div>
</div>