<div class="container">
    <div class="row">
        <div class="col-md-4 offset-lg-4">
            <div class=" d-flex justify-content-center align-items-center" style="height: 100vh;">
                <form class="forgot-card" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                    <h4>Reset Password</h4>
                    <div class="mb-3 mt-3">
                        <input id="password" formControlName="password" type="password">
                    </div>
                    

                    <button type="submit" class="btn btn-primary mt-4 px-5">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
