<div class="container h-100">
    <div class="row mt-4 mb-4">
        <div class="col-md-12">
            <table class="table table-bordered border-primary">
                <thead>
              <tr>
                <th scope="col">Transaction ID (this is our website ID)</th>
                <th scope="col">Reason</th>
                <th scope="col">Withdraw/Credit</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>twitter</td>
              </tr>
            </tbody>
          
            </table>
        </div>
    </div>
</div>