form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input, quill-editor {
    margin-bottom: 16px;
    width: 100%;
  }
  
  button {
    width: 100px;
    align-self: flex-start;
  }
  