<main>
  <div class="row">
    <div class="col-6">
      <ol class="breadcrumb">
        <li class="active p-0">Rooms List</li>
      </ol>
    </div>
    <div class="col-6 text-end">
      <button style="border-radius: 100px; margin-top: 9px;" (click)="openDialog()" sm mat-flat-button
        color="primary"><span style="font-size: 18px;">+</span>&nbsp;Create Room</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">
        <ng-container matColumnDef="sno">
          <th mat-header-cell *matHeaderCellDef>S.NO.</th>
          <td mat-cell *matCellDef="let el; let i=index">{{(i+1)}}</td>
        </ng-container>

        <!-- Room ID Column -->
        <ng-container matColumnDef="roomId">
          <th mat-header-cell *matHeaderCellDef>Room ID</th>
          <td mat-cell *matCellDef="let el">{{el.roomId}}</td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let el">{{el.date}}</td>
        </ng-container>

        <!-- entryFee Column -->
        <ng-container matColumnDef="entryFee">
          <th mat-header-cell *matHeaderCellDef>Entry Fee</th>
          <td mat-cell *matCellDef="let el">{{el.entryFee}}</td>
        </ng-container>

        <!-- Total Participants Column -->
        <ng-container matColumnDef="totalParticipants">
          <th mat-header-cell *matHeaderCellDef>Total Participants</th>
          <td mat-cell *matCellDef="let el">{{el.totalParticipants}}</td>
        </ng-container>

        <!-- Total Winning Column -->
        <ng-container matColumnDef="winningAmount">
          <th mat-header-cell *matHeaderCellDef>Total Winning Amount</th>
          <td mat-cell *matCellDef="let el">{{el.winningAmount}}</td>
        </ng-container>

        <!-- View Details Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let el; let i=index">
            <!-- [routerLink]="" -->
            <mat-slide-toggle (change)="updateStatus($event, el, i)" class="example-margin" [color]="'primary'" [checked]="el.isActive==1 ? true :false"></mat-slide-toggle>
            <!-- <button (click)="" style="border-radius: 100px;" mat-icon-button
              color="primary">
              <i style="font-size: 20px;" class="fa fa-eye"></i> </button> -->
          </td>
        </ng-container>

        <!-- View Details Column -->
        <ng-container matColumnDef="viewDetails">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let el;let i=index">
            <!-- [routerLink]="" -->


            <button routerLink="/admin/room-details" [queryParams]="{id: el.roomId}" style="border-radius: 100px;" mat-icon-button color="primary">
              <i style="font-size: 20px;" class="fa fa-eye"></i> </button>

              <button (click)="onDelete(el, i)" style="border-radius: 100px;" mat-icon-button color="warn">
                <i style="font-size: 20px;" class="fa fa-trash"></i> </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</main>