<div class="payment-history-area bg-color-2 fix area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h3>List of Winners</h3>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="deposite-content">
                    <div class="diposite-box">
                        <div class="deposite-table">
                            <table>
                                <tbody><tr>
                                   
                                    <th>ROOM ID</th>
                                    <th>WINNER ID</th>
                                    <th>Draw Date</th>
                                    <th>Entry Fee</th>
                                    <th>Total Participants</th>
                                    <th>Total Winning price</th>
                                    <th>Vied Details</th>
                                </tr>
                                <tr  *ngFor="let item of dataSource">
                                    
                                   <!-- <td><img src="assets/images/avatar.png" alt="">Ragner Lorth</td> -->
                                   <td>{{item.roomId}}</td> 
                                   <td>{{item.winner_id}}</td> 
                                   <td>{{item.startDate}}</td>
                                    <td>Rs.{{item.entryFee}}</td>
                                    <td>20</td>
                                    <td>Rs.{{item.winningAmount}}</td>
                                    <td><a href="#" [routerLink]="['/gameview']" [queryParams]="{id: item.roomId}">View Details </a></td>
                                    <!-- <td><img src="img/icon/j.png" alt="">Red Jackpot</td> -->
                                </tr>
                                
                                
                            </tbody></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>